.canvas {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 0;
}

.bracket {
  width: 3vw;
  border: var(--border-bracket);
  filter: var(--filter-bracket);
  flex-shrink: 0;
}
.b-l {
  border-right: none;
}
.b-r {
  border-left: none;
}

.letters {
  width: 100%;
  padding: var(--width-bracket);
  display: flex;
  gap: var(--gap);
}

.letter {
  flex: 1;
  display: flex;
  gap: var(--gap);
}

.bar {
  background: var(--color-bar);
  box-shadow: var(--shadow-bar);
  flex: 1;
}

.w .left {
  border-top-left-radius: var(--radius-amount);
  border-radius: var(--radius-amount) 0;
}
.w .mid {
  height: 70%;
  align-self: flex-end;
  border-radius: var(--radius-amount) var(--radius-amount) 0 0;
}
.w .right {
  border-bottom-right-radius: var(--radius-amount);
  border-radius: var(--radius-amount) 0;
}

.y .left {
  height: 65%;
  align-self: flex-start;
  border-radius: 0 var(--radius-amount);
}
.y .right {
  border-radius: var(--radius-amount) 0;
}

.d .left {
  height: 65%;
  align-self: flex-end;
  border-radius: var(--radius-amount) 0 0 var(--radius-amount);
}
.d .right {
  border-radius: var(--radius-amount) 0;
}

@media (max-width: 768px) {
  .canvas {
    flex-direction: column;
  }

  .bracket {
    width: 100%;
    height: calc(2 * var(--width-bracket));
    border: var(--border-bracket);
  }

  .b-l {
    border-bottom: none;
  }

  .b-r {
    border-top: none;
  }

  .letters {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
