:root {
  --color-bg: #faf9f6;
  --color-text: #28282b;
  --color-bar: #28282b;
  --gap: 1.5vw;
  --radius-amount: 40px;
  --width-bracket: var(--gap);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #28282b;
    --color-text: #faf9f6;
    --color-bar: #faf9f6;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --gap: 2vw;
  }
}

@media (max-width: 768px) {
  :root {
    --gap: 2.5vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier", monospace;
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
}

#title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
