:root {
  --color-bg: #faf9f6;
  --color-text: #28282b;
  --color-bar: #28282b;
  --gap: 1.5vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #28282b;
    --color-text: #faf9f6;
    --color-bar: #faf9f6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier", monospace;
  line-height: 1;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
}

/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */

#app {
  height: 100vh;
  width: 100vw;
}

#title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-svg {
  width: 100%;
  height: 100%;
}
